@font-face { font-family: SFPro; src: url('/static/fonts/SFProDisplay-Regular.ttf'); } 
@font-face { font-family: SFPro-Bold; src: url('/static/fonts/SFProDisplay-Heavy.ttf'); } 
body { 
    padding-top: 65px; 
    /* background colors*/
    /* Old browsers */
    /* background: #2a0caf; */
    /* Chrome 10-25, Safari 5.1-6 */
    /* background: -webkit-linear-gradient(45deg, hsl(212, 40%, 35%), #ffffff); */
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    /* background: linear-gradient(180deg, #ffffff, #5fbcf1); */
    
    /* color: #1c87c9; */
    background: #fafafa;
}

h1, h2 {
    font-family:'SFPro-Bold';
    padding-left: 10px;
}

p, h3{
    padding-left: 10px;
    font-family:'SFPro';
}

nav{
    padding: 0 10%;
}