body { 
    padding-top: 65px; 
    /* background colors*/
    /* Old browsers */
    /* background: #2a0caf; */
    /* Chrome 10-25, Safari 5.1-6 */
    /* background: -webkit-linear-gradient(45deg, hsl(212, 40%, 35%), #ffffff); */
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    /* background: linear-gradient(180deg, #ffffff, #5fbcf1); */
    
}

h1, h2, h3, p {
    padding-left: 10px;
}

nav{
    padding: 0 10%;
}