@font-face { font-family: SFPro; src: url('/static/fonts/SFProDisplay-Regular.ttf'); } 

* {
  box-sizing: border-box;
}

table.table-hover{
  font-family: SFPro;
}

.form-group, .form-control, .label{
  font-family: SFPro;
}

.progress{
    margin: 10px 10px 20px;
}

.loginimg{
    width: 100px; /* you can use % */
    height: auto;
}

#left {
  color:#1c87c9;
}
.openBtn {
  display: flex;
  justify-content: center;
  padding-top: 25px;
  padding-bottom: 25px;
}
.openButton {
  border: none;
  border-radius: 50%;
  background-color: #1c87c9;
  color: white;
  padding: 20px 20px;
  cursor: pointer;
}
.loginPopup {
  position: relative;
  text-align: center;
  width: 100%;
}
.formPopup {
  display: none;
  position: fixed;
  left: 45%;
  top: 5%;
  transform: translate(-50%, 5%);
  border: 3px solid #999999;
  z-index: 9;
}
.formContainer {
  min-width: 250px;
  max-width: 500px;
  padding: 20px;
  margin: auto;
  background-color: #fff;
}
.formContainer input[type=text],
.formContainer input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 20px 0;
  border: none;
  background: #eee;
}
.formContainer input[type=text]:focus,
.formContainer input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}
.formContainer .btn {
  padding: 12px 20px;
  border: none;
  background-color: #1c87c9;
  color: #fff;
  cursor: pointer;
  width: 100%;
  margin-bottom: 15px;
  opacity: 0.8;
}
.formContainer .cancel {
  background-color: #cc0000;
}
.formContainer .btn:hover,
.openButton:hover {
  opacity: 1;
}

.slidecontainer {
  width: 100%;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 25px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #1c87c9;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #1c87c9;
  cursor: pointer;
}