<!DOCTYPE html>
<html lang="en">

    
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <title>Drinkify</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/base.css')  }}">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/drink.css')  }}">
    
</head>
<body>
    <nav class="navbar fixed-top navbar-light bg-light">
        <a href="drink" >Home</a>
        <a href="visuals">Visuals</a>
        <a href="settings">Settings</a>
    </nav>
    
    <h1>Hello, User!</h1>
      
    <h3>Your water intake today</h2>
    <!--<div class ="w3-light-grey w3-round-xlarge">
        <div class="w3-container w3-blue w3-round-xlarge" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: {{progress}}%">{{total}} ml</div>
    </div>-->
    <div class ="progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: {{progress}}%">{{total}} ml</div>
    </div>
    
    <p>Click below to log your intake</p>

        <form action="/drink" class="formContainer" method="post">
            <div class = "input-group mb-3">
                <span class="input-group-text">Time</span>
                <input type="time" onload="getTime()" class="form-control" id="logTime" name="logTime" REQUIRED>
            </div>
            
             <div class="form-group">
                <div class = "input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">Type of bevarage</span>
                    <select name="drink" class="form-control" id="exampleFormControlSelect1">
                        <option value="Water" selected="selected">Water</option>
                        <option value="Coffee">Coffee</option>
                        <option value="Beer">Beer</option>
                        <option value="Wine">Wine</option>
                        <option value="Soda">Soda</option>
                        <option value="Tea">Tea</option>
                        <option value="Juice">Juice</option>
                        <option value="Milk">Milk</option>
                      </select>
                </div>
                 <!-- 'Water', 'Coffee', 'Beer', 'Wine', 'Soda', 'Tea', 'Juice', 'Milk' -->     
            </div>
            <div class="form-group">
                
                <div class = "input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">Amount</span>
                    <select name="amount" class="form-control" id="exampleFormControlSelect1">
                        <option value="50">50 ml</option>
                        <option value="100">100 ml</option>
                        <option value="200">200 ml</option>
                        <option value="300" selected="selected">300 ml</option>
                        <option value="500">500 ml</option>
                    </select>
                </div>
            </div>
            
            <div class="form-group">
                <div class = "input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">Location</span>
                    <select name="location" class="form-control" id="exampleFormControlSelect1">
                        <option value="Home" selected="selected">Home</option>
                        <option value="Work">Work</option>
                        <option value="Restaurant">Restaurant</option>
                        <option value="School">School</option>
                    </select>
                </div>
            </div>

            <div class="openBtn">
                <button class="openButton" onclick="openForm()"><img class = "loginimg" src="{{ url_for('static', filename = 'img/drink.png')  }}"></button>
            </div>
        </form>
    
    <h2>You have <span id="left">{{left_to_go}}ml</span> to go</h2>
    
    <script>
      function openForm() {
        document.getElementById("popupForm").style.display = "block";
      }
      function closeForm() {
        document.getElementById("popupForm").style.display = "none";
      }
    </script>

    <script>
        var date = new Date();
        // we add a zero to the hour or minute if its less than 10 so it becomes two digit
        var currentTime = (date.getHours()<10?'0':'') + date.getHours() + ':' + (date.getMinutes()<10?'0':'') + date.getMinutes();
        console.log(currentTime)
        document.getElementById('logTime').value = currentTime;        
    </script>

    <script>
        var slider = document.getElementById("amountRange");
        var output = document.getElementById("currentValue");
        output.innerHTML = slider.value;
        
        slider.oninput = function() {
        output.innerHTML = this.value;
        }
    </script>
    
    <h3>Your intake today</h3>
        
    <table class="table table-hover">
        <thead>
            <tr>
                <!--Column titles-->
                <th scope="col">Time</th>
                <th scope="col">Drink</th>
                <th scope="col">Amount</th>
                <th scope="col">Water Amount</th>
                <th scope="col">Location</th>
            </tr>
        </thead>
        <tbody>
            {% for item in datatoday %}
            <!--Loop over the data passed on from routes.py-->
                <tr>
                    <td>{{item.hourminute}}</td>
                    <td>{{item.drink}}</td>
                    <td>{{item.amount}}</td>
                    <td>{{item.water_amount}}</td>
                    <td>{{item.location}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    
</body>
</html>