<!DOCTYPE html>
<html lang="en">

<script>
    function now() {
        const val = document.querySelector('input').value;
        console.log(val);
    }
</script>
    
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <title>Drinkify</title>
</head>
<body>
    <nav>
        <a href="drink" >Home</a>
        <a href="visuals">About</a>
    </nav>

    <div class ="progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: {{progress}}%">{{total}} ml</div>
    </div>

    <h1>Post drink information</h1>
    <div>
        <p>Time to insert your data</p>
        <form action="/drink" method="POST">
            <!--- User id, drink, amount, time-->
            <input type="datetime-local" name="timestamp" value=now() REQUIRED>
            <br>
            <select name="drink" size="3">
                <option value="Water" selected="selected">Water</option>
                <option value="Coffee">Coffee</option>
                <option value="Beer">Beer</option>
            </select>
            <br>
            <select name="amount" size="5" value="50">
                <option value="50">50 ml</option>
                <option value="100">100 ml</option>
                <option value="200">200 ml</option>
                <option value="300" selected="selected">300 ml</option>
                <option value="500">500 ml</option>
            </select>
            <br>
            <select name="location" size="4" value="Home">
                <option value="Home">Home</option>
                <option value="Work">Work</option>
                <option value="Restaurant">Restaurant</option>
                <option value="School" selected="selected">School</option>
            </select>
            <br>
            <input type="submit" name="submit" value="Submit" class="btn btn-success">
        </form>
    </div>

    <h2>History</h2>
    <br>

    <form action="/clear" methid="POST">
        <button type="submit" value="clear">Clear</button>
    </form>
    
    <table class="table table-hover">
        <thead>
        
            <tr>
                <!--Column titles-->
                <th scope="col">Time</th>
                <th scope="col">Drink</th>
                <th scope="col">Amount</th>
                <th scope="col">Water Amount</th>
                <th scope="col">Location</th>
            </tr>
        </thead>
        <tbody>
            {% for item in data %}
            <!--Loop over the data passed on from routes.py-->
                <tr>
                    <td>{{item.timestamp}}</td>
                    <td>{{item.drink}}</td>
                    <td>{{item.amount}}</td>
                    <td>{{item.water_amount}}</td>

                    <td>{{item.location}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>


</body>
</html>