<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <title>Drinkify</title>
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/base.css')  }}">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/settings.css')  }}">
</head>

<body>
    <nav class="navbar fixed-top navbar-light bg-light">
        <a href="drink" >Home</a>
        <a href="visuals">Visuals</a>
        <a href="settings">Settings</a>
    </nav>

    <h1>Goal</h1>
    <p>You can use the button below to calculate your daily water intake goal based on your sex and age.</p>

    <div class="openBtn">
        <button class="openButton" onclick="calculateGoal()" class="btn btn-success">Calculate your goal!</button>
    </div>
    <br>
    <p>Press Set Goal to save your goal</p>
    <form action="/setGoal" method="POST">
        <input type="number" id="goal" name="goal" value={{goal}} min=500 max=10000>
        <button type="submit" value="Set Goal" class="btn btn-success">Set Goal</button>
    </form>

    
    
    <div class="loginPopup">
        <div class="formPopup" id="popupForm">
            <form action="/calcGoal" class="formContainer" method="post">
                <div class="form-group">
                    <label for="exampleFormControlSelect1">Sex</label><br>

                    <select name="sex" class="form-control" id="exampleFormControlSelect1">
                        <option value="male">Male</option>
                        <option value="female">Female</option>
                    </select>

                </div>
                <br>
                <div class="form-group">
                    <label for="exampleFormControlSelect1">Age</label><br>

                    <select name="age" class="form-control" id="exampleFormControlSelect1">
                        <option value="14-18">14-18</option>
                        <option value="19+">19+</option>
                    </select>

                </div>
                <br>
            <input type="submit" name="submit" value="Set" class="btn btn-success">
            <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
            </form>
        </div>
    </div>

    <h1>History</h1>
    <p>Press below to see your full intake history</p>
    <div class="historyButton">
        <button id = "historybutton" type="button" class="btn btn-primary">See full history</button>
    </div>
    
    <div id="history" style="display:none;">
        <h3>Your full intake history</h3>
        
        <table class="table table-hover">
            <thead>
                <tr>
                    <!--Column titles-->
                    <th scope="col">Time</th>
                    <th scope="col">Drink</th>
                    <th scope="col">Amount</th>
                    <th scope="col">Water Amount</th>
                    <th scope="col">Location</th>
                </tr>
            </thead>
            <tbody>
                {% for item in data %}
                <!--Loop over the data passed on from routes.py-->
                    <tr>
                        <td>{{item.timestamp}}</td>
                        <td>{{item.drink}}</td>
                        <td>{{item.amount}}</td>
                        <td>{{item.water_amount}}</td>
                        <td>{{item.location}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <script>
        const targetDiv = document.getElementById("history")
        const btn = document.getElementById("historybutton")
        btn.onclick = function () {
            if (targetDiv.style.display !== "none") {
                targetDiv.style.display = "none";
                btn.innerHTML = "See full history";
            } else {
                targetDiv.style.display = "block";
                btn.innerHTML = "Hide full history";
            }
        };
    </script>

    
    <h1>Delete your history</h1>
    <p>You can delete your history by pressing the button below. Note that it cannot be undone.</p>
    <form action="/clear" method="POST">
        <button type="submit" value="clear" class="btn btn-danger" id = "delete">Delete History</button>
    </form>

    <script>
        function calculateGoal() {
          document.getElementById("popupForm").style.display = "block";
        }
        function closeForm() {
          document.getElementById("popupForm").style.display = "none";
        }
      </script>

</body>
</html>