<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
    <title>Visuals</title>
    <script src="https://cdn.jsdelivr.net/npm/vega@5"></script>
    <script src="https://cdn.jsdelivr.net/npm/vega-lite@4"></script>
    <script src="https://cdn.jsdelivr.net/npm/vega-lite-api@4"></script>
    <script src="https://cdn.jsdelivr.net/npm/vega-tooltip"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/base.css')  }}">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/visuals.css')  }}">
</head>
<body>

    <nav class="navbar fixed-top navbar-light bg-light">
        <a href="drink" >Home</a>
        <a href="visuals">Visuals</a>
        <a href="settings">Settings</a>
    </nav>
    
    <script>// load data        
        var data = {{data | safe}};
    </script>

    <script src = "{{ url_for('static', filename = 'js/vegalite-initialization.js')  }}">
        // let's us use the vegalite api
    </script>
    
    <div>
        <br>
        <div id="chart1">
            <script src = "{{ url_for('static', filename = 'js/barplot.js')  }}"></script>
        </div>
    </div>
    

    <div>
        <br>
        <div id="chart3">
            <script src = "{{ url_for('static', filename = 'js/locations.js')  }}"></script>
        </div>
    </div>

    <div>
        <br>
        <div id="chart4">
            <script src = "{{ url_for('static', filename = 'js/stack.js')  }}"></script>
        </div>
    </div>

    <div>
        <br>
        <div id="chart5">
            <script src = "{{ url_for('static', filename = 'js/heatmap.js')  }}"></script>
        </div>
    </div>
    
    
    
    
    
    
    
    <script>
        // posibility for swiping left and right
        document.addEventListener('touchstart', handleTouchStart, false);        
        document.addEventListener('touchmove', handleTouchMove, false);

        var xDown = null;                                                        
        var yDown = null;

        function getTouches(evt) {
        return evt.touches ||             // browser API
               evt.originalEvent.touches; // jQuery
        }                                                     
                                                                                
        function handleTouchStart(evt) {
            const firstTouch = getTouches(evt)[0];                                      
            xDown = firstTouch.clientX;                                      
            yDown = firstTouch.clientY;                                      
        };                                                
                                                                                
        function handleTouchMove(evt) {
            if ( ! xDown || ! yDown ) {
                return;
            }

            var xUp = evt.touches[0].clientX;                                    
            var yUp = evt.touches[0].clientY;

            var xDiff = xDown - xUp;
            var yDiff = yDown - yUp;                                                         
            if ( Math.abs( xDiff ) > Math.abs( yDiff ) ) {/*most significant*/
                if ( xDiff > 15 ) {
                    /* right swipe */ 
                    window.location.href = '/settings'
                    //alert(xDiff)
                } if (xDiff < -15) {
                    /* left swipe */
                    window.location.href = '/drink'
                }                       
            }                                                             
            /* reset values */
            xDown = null;
            yDown = null;                                             
        };
    </script>
</body>
</html>